.my-table{
    border-collapse: collapse;
    border: solid 1px;
    margin: 2rem 0;
}

th,td{
    padding: .5rem 1rem;
}

.my-table th,.my-table td{
    border: solid 1px;
}

.no-border{
    border: none;
}